.wrapper {
  padding: 2rem;
  background-color: #FFFFFF;
  color: #000000;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3rem;
  max-width: 1300px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.text {
  flex: 1;
  min-width: 320px;
}

.title {
  margin-bottom: 1rem;
  padding-bottom: 10px;
  font-size: 3rem;
  font-weight: 700;
  color: #F4D35E; /* Amarillo más oscuro de la paleta */
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.text p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: #333333;
  text-align: justify;
}

.list {
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.list li {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  color: #333333;
}

.image {
  flex: 4;
  min-width: 340px;
  max-width: 600px;
  position: relative;
  aspect-ratio: 6 / 4;
}

.img {
  object-fit: cover;
  border-radius: 8px;
  object-position: top;
}

.btnConocer {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 2.5rem;
  background-color: #FDD0A2; /* Naranja pastel */
  color: #000000;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.btnConocer:hover {
  background-color: #FCB87E; /* Naranja hover más cálido */
}

@media (max-width: 1024px) {
  .content {
    gap: 2rem;
  }

  .title {
    font-size: 2rem;
  }

  .text p,
  .list li {
    font-size: 0.95rem;
  }

  .image {
    max-width: 350px;
  }
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
    text-align: justify;
    gap: 2rem;
  }

  .text {
    width: 100%;
    text-align: left;
  }

  .image {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 6 / 4;
  }
}

@media (max-width: 480px) {
  .wrapper {
    padding: 2rem 1rem;
  }

  .title {
    font-size: 2.3rem;
  }

  .text p,
  .list li {
    font-size: 0.9rem;
  }
}