.button {
    display: inline-block;
    background-color: #FDD0A2;
    color: #000000;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 1.2rem 6rem;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.button:hover {
    background-color: #FCB87E;
}

@media (max-width: 768px) {
    .button {
        padding: 1rem 2rem;
        font-size: 1.3rem;
        width: auto;
        min-width: 200px;
    }
}

@media (max-width: 480px) {
    .button {
        font-size: 1.2rem;
        padding: 0.8rem 2rem;
        border-radius: 8px;
        margin-top: 0;
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}