/* Estilos generales */
.wrapper {
    padding: 5rem;
    background-color: #fff;
    max-width: 600px;
    margin: 6rem auto;
    border-radius: 8px;
    border: 1px solid #f0f0f0;
}

.title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #208C3C;
    padding-bottom: 3rem;
    text-transform: uppercase;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.inputGroup {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #333;
}

.input {
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #3333;
    background-color: #fff;
}

.error {
    color: red;
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.submitButton {
    padding: 1rem;
    background-color: #208C3C;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submitButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.submitButton:hover:enabled {
    background-color: #155d27;
}

/* Estilos responsivos */
@media (max-width: 1024px) {
    .wrapper {
    padding: 2rem;
    }

    .title {
    font-size: 2rem;
    }

    .input,
    .submitButton {
    font-size: 1rem;
    }

    .label {
    font-size: 0.95rem;
    }
}

@media (max-width: 768px) {
    .wrapper {
    padding: 1.5rem;
    }

    .title {
    font-size: 1.8rem;
    }

    .inputGroup {
    gap: 1rem;
    }

    .input {
    font-size: 0.95rem;
    padding: 0.65rem;
    }

    .submitButton {
    font-size: 1rem;
    padding: 0.9rem;
    }
}

@media (max-width: 480px) {
    .wrapper {
    padding: 1rem;
    }

    .title {
    font-size: 1.6rem;
    }

    .input {
    font-size: 0.9rem;
    padding: 0.5rem;
    }

    .submitButton {
    font-size: 0.95rem;
    padding: 0.8rem;
    }
}
